*~
source/*/.gitignore
source/*/build
source/*/lib
source/*/xml
*#
*oldsrc*
*.swp
Physsim
.npy
*.pdf
*.png
*.root
*.slcio
.law
*/test/*
test*.ipynb
view*.ipynb
Ranlux.coonf
*.csv
*_local.*
*.pyc
*.json
!source/PreSelection/cuts.json
!config/*
*.npy
*.log
*.txt
!CMakeLists.txt
*.aux
*.tex
*.bbl
*.blg
.env
.env.sh
.env.bck
install/**
*notebooks/**
*Notebooks/**
zhhvenv
*.sub
scripts/**/TMVA*
*.pth
*.pt