*~
source/*/.gitignore
source/*/build
source/*/lib
source/*/xml
*#
*oldsrc*
*.swp
Physsim
.npy
*.pdf
*.png
*.root
*.slcio
.law
*/test/*
test*.ipynb
view*.ipynb
Ranlux.coonf
*.csv
*_local.*
*.pyc
*.json
!source/PreSelection/cuts.json
!workflows/analysis/custom_statistics.json
*.npy
*.log
*.txt