*~
source/*/.gitignore
source/*/build
source/*/lib
source/*/xml
source/build
source/lib
*test*
*#
*oldsrc*
*.swp
Physsim
.npy
*.pdf
*.png
*.root
*.slcio
.law
*/test/*
test*.ipynb
view*.ipynb
Ranlux.coonf
dependencies
dependencies/**
*.csv
*_local.*
*.pyc
*.json
!source/PreSelection/cuts.json
!config/*
*.npy
*.log
*.txt
!CMakeLists.txt
*.aux
*.tex
*.bbl
*.blg
.env
install/**
*notebooks/**
*Notebooks/**
zhhvenv
*.sub
scripts/**/TMVA*
*.pth
*.pt
*.npz
scratch
scratch-*
setup.sh
definitions
*.job
weights
*.queue
HighLevelReco
WWCATOUTCM
WWCATOUTROOT
*.env*
*.intellisense*
TestProd*
.__afs*
scripts/DevBatch
AutoDict*