#!/bin/bash

# define inputs
export INPUT_FILE="<INPUT_FILE>"
export TARGET_FILE="<TARGET_FILE>"
export OUT_BASE_DIR="<OUT_BASE_DIR>"

INPUT_FILE_NAME=$(basename $INPUT_FILE)
export TMPDIR="$OUT_BASE_DIR/TMP-$LSB_JOBID-${INPUT_FILE_NAME//.slcio/}"

mkdir -p $TMPDIR
cd $TMPDIR

bash /home/ilc/bliewert/DevRepositories/ZHH/jobs/kek/common/sgv_run.sh $INPUT_FILE $TARGET_FILE

if [[ -f $TARGET_FILE ]]; then
    rm -rf $TMPDIR
fi