[modules]

hep_workflows.tasks_generator
hep_workflows.tasks_index
hep_workflows.tasks_marlin_chunks
hep_workflows.tasks_marlin
hep_workflows.tasks_sim
hep_workflows.tests.tests_e550_bbbb
hep_workflows.load_plugins

[job]

job_file_dir: $DATA_PATH/jobs
job_file_dir_cleanup: False

# number of job ids per condor_q/condor_history call when polling (law default: 25).
# at DESY /usr/local/bin/condor_q sleeps 10 s between calls, so polling N jobs takes
# ~N/htcondor_chunk_size_query * 10 s. keep this below ~8000 (bash -c argument
# length limit of 128 KB)
htcondor_chunk_size_query: 2000


[logging]

luigi-interface: INFO


[luigi_core]

local_scheduler: True
no_lock: True


[luigi_worker]

keep_alive: True
ping_interval: 20
wait_interval: 20
max_reschedules: 3


[luigi_scheduler]

retry_count: 3
retry_delay: 20
