#!/bin/bash

# define inputs
export INPUT_FILE="<INPUT_FILE>"
export TARGET_FILE="<TARGET_FILE>"
export OUT_BASE_DIR="<OUT_BASE_DIR>"
export REPO_ROOT="<REPO_ROOT>"

INPUT_FILE_NAME=$(basename $INPUT_FILE)
export TMPDIR="$OUT_BASE_DIR/TMP-$LSB_JOBID-${INPUT_FILE_NAME//.slcio/}"

mkdir -p $TMPDIR
cd $TMPDIR

bash /home/ilc/bliewert/DevRepositories/ZHH/jobs/kek/common/sgv_run.sh "$INPUT_FILE" "$TARGET_FILE" "sgvout.slcio" "$SGV_DIR/tests_beamcal_500GeV/usesgvlcio.exe"

if [ -f "$TARGET_FILE" ]; then
    rm -rf $TMPDIR
fi